footer {
  height: auto;
  overflow: visible;
  min-height: 320px;
  z-index: 10;
  bottom: 0;
  padding: var(--space-xs);
  border-radius: var(--radius-lg) var(--radius-lg) 0 0;
  -webkit-border-radius: var(--radius-lg) var(--radius-lg) 0 0;
  -moz-border-radius: var(--radius-lg) var(--radius-lg) 0 0;
  -ms-border-radius: var(--radius-lg) var(--radius-lg) 0 0;
  -o-border-radius: var(--radius-lg) var(--radius-lg) 0 0;
}

.content {
  max-width: 1660px;
  margin: 0 auto;
}
