.hero {
  display: block;
  width: 100%;
  height: 825px;
  padding: var(--space-lg);
  position: relative;
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  &::before {
    content: '';
    background: linear-gradient(
      90.62deg,
      rgba(0, 0, 0, 0.7) 5.22%,
      rgba(0, 0, 0, 0) 99.41%
    );
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }

  /* making it 100% of the total width and height */
}
