.link-fx-5 {
  padding: 4px 0;
  text-decoration: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4' viewBox='0 0 16 4'%3E%3Cpath d='M0,3.5c4,0,4-3,8-3s4,3,8,3' fill='none' stroke='%23ffffff' opacity='1' stroke-miterlimit='10'/%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-position: 0px 100%;
  background-size: 0;
}
.link-fx-5:hover {
  background-size: 16px 4px;
  animation: link-fx-5-animation 0.4s linear infinite;
  -webkit-animation: link-fx-5-animation 0.4s linear infinite;
  cursor: pointer;
}

@keyframes link-fx-5-animation {
  from {
    background-position: 0px 100%;
  }

  to {
    background-position: 16px 100%;
  }
}

.link-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  text-transform: uppercase;
  font-style: italic;
  color: var(--color-contrast-high);
  &:hover {
    color: var(--color-contrast-higher);
  }
}
